/* CSS로 폰트CSS불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    box-sizing: inherit;
}

.section-main-bg {
    position: relative;
    background: url("../assets/main_bg.png") no-repeat center fixed;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
}

.section-content {
    display: flex;
    margin: auto;
    width: 1020px;
    padding-top: 60px;
}

.h-fontstyle {
    min-width: 170px;
    float: left;
    color: #000000;
    font-size: 34px;
    font-weight: 500;
}

.section-tag {
    flex-grow: 1;
    padding-left: 8%;
}

.section-tag-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
}

.section-tag-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.tag-item {
    background-color: #efefef;
    color: black;
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.search-box {
    display: flex;
    width: 100%;
    height: 20px;
    background: #efefef;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0 70px;
}

.dropdown {
    display : inline-block;
}

.dropdown-btn {
    background-color: #efefef;
    border: none;
    display: flex;
}

.dropdown-btn-icon {
    border: none;
    background: url("../assets/icon_downarrow.svg") no-repeat;
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 20px;
}

.dropdown-item {
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}

.dropdown-item a {
    display : block;
    padding : 12px 24px 12px 10px;
    background-color: white;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.dropdown-item a:hover {
    background-color: #f6f6f6;
}

.dropdown:hover .dropdown-item {
    display: block;
}

.input-style {
    flex-grow: 1;
    border: none;
    margin: 0 20px 0 30px;
    background-color: #efefef;
    outline: none;
}

.search-icon {
    border: none;
    background: url("../assets/icon_search.svg") no-repeat;
    width: 24px;
    height: 24px;
}

.section-post {
    margin: auto;
    width: 1020px;
    padding-bottom: 100px;
}

.move-to-posts {
    border: none;
    display: flex;
    color: #000000;
    background-color: white;
    font-size: 34px;
    font-weight: 500;
    line-height: 55px;
}

.move-to-posts-icon {
    background: url("../assets/icon_rightarrow.svg") no-repeat;
    width: 24px;
    height: 30px;
    margin: 12px 0 0 20px;
}

.section-post-view-1 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.post-card-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
    width: 250px;
    border-radius: 1px;
    overflow: hidden;
    height: 420px;
    box-shadow: 0 6px 19px 0 rgba(0,0,0, .04);
}

.img-block {
    overflow: hidden;
    height: 230px;
    width: 100%;
}

.post-card-block:hover {
    box-shadow: 0 6px 19px 0 rgba(0,0,0, .12);
}

.post-view-1-image {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    object-fit: cover;
}

.post-card-block .post-view-1-image {
    transition: all 0.4s linear;
}

.post-card-block:hover .post-view-1-image {
    transform: scale(1.04);
    height: 230px;
}

.post-view-1-content {
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 6px 5px 5px 5px;
}

.post-view-1-title {
    font-weight: 600;
    font-size: 16px;
}

.post-view-1-text {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 0 0;
}

.post-view-1-date {
    color: #848484;
    font-size: 12px;
    font-weight: 500;
    margin: 14px 0 0 4px;
}

.post-view-1-footer {
    display: flex;
    justify-content: space-between;
    padding: 6px 5px 5px 5px;
}

/*프로필 사진과 by저자 를 묶는 div*/
.post-view-1-profile {
    display: flex;
}

.post-view-1-author-name {
    display: block;
    color: #848484;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}

.post-view-1-like {
    padding: 10px 10px 0 0;
}

.section-post-view-2 {
    display: flex;
    flex-direction: row;
}

.post-view-2-frame-1 {
    width: 50%;
}

.post-view-2-frame-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

.post-view-2-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.post-view-2-item-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

