.screen {
    margin-bottom: 200px;
}

.tab {
    padding: 30px 0 0 80px;
    display: flex;
    flex-direction: row;
}

.tab-name {
    display: flex;
    padding: 0 60px;
}

.tab-name h4 {
    align-self: center;
    margin: 0
}

.tab-icon {
    align-self: center;
    padding-right: 6px;
    width: 24px;
    height: 20px;
}

.tab-item div {
    align-self: center;
}

/*.tab-item:hover {*/
/*    background-color: #dadada;*/
/*    cursor: pointer;*/
/*}*/

hr {
    margin-top: 10px;
}



