
.bottom {
    width: 100%;
    bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EDEDED;
}
.Write {
    text-align: center;
    padding: 20px;
}

.Write div {
    margin-top: 17px;

}

#title_txt {
    width: 91%;
    padding-bottom: 0px;
    border: none;
    font-size: 35px;
    font-weight: bold;
}
/* #tag_txt {
    
    padding-left: 15px;
    width: 91%;
    padding-bottom: 20px;
    border: none;
    font-size: 20px;
    border-bottom: solid 1px #ababab;

} */

#tag_txt{
    background: transparent;
    display: inline-flex;
    outline: none;
    cursor: text;
    font-size: 1.325rem;
    line-height: 2rem;
    /* margin-bottom: 0.75rem; */
    min-width: 8rem;
    border: none;
    color: #212529;
}
#content_txt {
    padding-left: 90px;
    padding-right: 90px;
}

#title_txt:focus { outline : none; }
#content_txt:focus { outline : none; }
.post_save {
    text-align: right;
    vertical-align: middle;
    margin-right: 110px;
}
#post_save_button {
    left: 8000px;
    width: 120px;
    margin: 10px;
    padding: 13px;
    border-radius: 40px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 14px;
    color: #000000;
}
#post_submit_button {
    right: 100px;
    width: 120px;
    padding: 13px;
    border-radius: 40px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: #2F2F2F;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}


#post_edit_button {
    left: 8000px;
    width: 70px;
    margin: 5px;
    padding: 13px;
    border-radius: 40px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 14px;
    color: #000000;
}

#post_delete_button {
    left: 8000px;
    width: 70px;
    margin: 5px;
    padding: 13px;
    border-radius: 40px;
    border: solid 1px #ababab;
    cursor: pointer;
    background-color: #000000;
    font-size: 14px;
    color: #ffffff;
}

/* .notification-container {
    background: rgba(0,0,0,.3);
    border-radius: 10px;
    padding: 15px 20px;
    position: absolute;
    bottom: 50px;
    display: none;
  }
  
.notification-container.show {
    display: block;
} */


.tag-input-container {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
  }
  
  .tag-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
  }
  
  /* .tag {
    display: flex;
    align-items: center;
    background-color: #e1e1e1;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 8px;
  } */
  
  
  .tag_post {
    font-size: 1rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #c0c0c046;
    color: #0095ff;
    margin-right: 0.75rem;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
    margin-bottom: 0.75rem;
    font-weight: bold;

    animation: 0.125s ease-in-out 0s 1 normal forwards running lnHDaM;
    
}




  .tag button {
    margin-left: 4px;
    background: none;
    border: none;
    cursor: pointer;
    color: none;
  }

  
  