.comment {
    display: grid;
    grid-template-columns: 18% 64% 18%;
}

.commentList {
    list-style-type: none;
    padding: 0;
  }
  
  .commentItem {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .commentId {
    flex: 1;
  }
  
  .commentContents {
    flex: 3;
  }
  
  .commentTime {
    flex: 1;
    text-align: right;
  }