.section-side-profile {
    position: absolute;
    top: 110px;
    right: 52px;
}

.profile-box-polygon {
    background: url("../assets/Polygon 3.svg");
    width: 24px;
    height: 12px;
    margin-left: 189px;
}

.profile-box {
    box-sizing: content-box;
    border: 1px solid #CACACA;
    background-color: #FFFFFF;
}

.box-text {
    padding: 24px 20px 24px 24px;
    font-weight: bold;
    font-size: 16px;
}

.box-horizontal {
    height: 1px;
    background: #d9d9d9;
}

.section-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-button button {
    border: none;
    background-color: white;
    color: black;
    opacity: 0.5;
    font-weight: 500;
    font-size: 16px;
    margin: 14px 22px 14px 22px;
}

.section-button-line {
    color: #d9d9d9;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
